# Python bytecode
*.pyc
*.pyo
*.pyd
__pycache__/

# Environment files
.env

# Virtual environment
venv/
env/
.venv/
.env/

# Pytest cache
.cache/

# MyPy
.mypy_cache/

# Build directories
build/
dist/

# Logs
*.log

# VS Code settings
.vscode/

# Other IDE specific files
.idea/
*.swp

# Deployment
*.log
*.pid