.wordWrapper {
  display: inline-block;
  margin-right: 0.1em; 
}

.hoverText {
  transition:
    0.35s font-weight,
    0.35s color;
  display: inline-block;
}

.hoverText:empty::before {
  content: '\00A0';
  display: inline-block;
}

.hoverText:hover {
  font-weight: 900;
}

.hoverText:hover + .hoverText {
  font-weight: 500;
}

.hoverText:hover + .hoverText + .hoverText {
  font-weight: 300;
}

.hoverText:has(+ .hoverText:hover) {
  font-weight: 500;
}

.hoverText:has(+ .hoverText + .hoverText:hover) {
  font-weight: 300;
}

.whiteText {
  color: white;
}

.whiteText .hoverText:hover,
.whiteText .hoverText:hover + .hoverText,
.whiteText .hoverText:has(+ .hoverText:hover) {
  color: #717177; /* zinc-400 */
}

.zincText {
  color: #a1a1aa; /* zinc-400 */
}

.zincText .hoverText:hover,
.zincText .hoverText:hover + .hoverText,
.zincText .hoverText:has(+ .hoverText:hover) {
  color: white;
}

.redText {
  color: #fca5a5; 
}

.redText .hoverText:hover,
.redText .hoverText:hover + .hoverText,
.redText .hoverText:has(+ .hoverText:hover) {
  color: #ef4444; 
}